.modal {
  box-sizing: border-box;
  max-width: 720px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  margin: 0;
  z-index: 2;
  background-color: #1c1c21;
  border-radius: 40px;
  color: #f2f2f3;
}

.modal_type_component {
  background-color: transparent;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 640px;
  width: 100%;
}

.wrapper_center {
  justify-content: center;
}

.button {
  padding: 0;
  outline: 0;
  border: 0;
  max-width: 24px;
  max-height: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}

.button:hover {
  opacity: 0.6;
}
